// fonts
font-default='Montserrat', monospace;

//color
blue-dark=#5e81ce52
blue-darkest=#011627
blue-nav=#001122
blue-window=#000C1D
blue-border=#102A44
blue-light=#3794ff
blue-font-color=#C2DED2

shadow-50=0px 50px  50px rgba(31, 56, 92,0.15);

// screen sizes..
$sm=37.5em //600px
$md=56.25em //900px
$lg=75em //1200px
$xl=112.5em //1800px

@import('./stylus/_mixins.styl')
@import('./stylus/_base.styl')
